/* general styles */
body{
    font-family: 'Merriweather', serif;
    padding-top: 70px;
    padding-bottom: 20px;
}
h2{
    font-size: 1.4em;
    font-weight: bold;
    text-transform: capitalize;
}
.jumbotron, #about{
    background: red;
    color: white;
}

/* custom styles for navbar section */
.navbar-light{
    background: red;
 }
 .navbar-light .navbar-brand, .navbar-nav .nav-item .nav-link{
     color: white;
 }

/* custom styles for showcase area section */
.jumbotron h1{
    font-size: 3em;
}

/* custom styles for about and award section */
div#about, #award{
    font-size: 1.2em;
    padding: 20px !important;
}

/* custom styles for our services section */
.row{
    margin-top: 25px;
}
.card{
    line-height: 25px;
}
.card img{
    width: 100%;
}
div#services .card{
    padding: 20px;
    font-size: 14px;
}
div#services span{
    color: red;
}
div#services ul{
    margin-left: -20px;
}
.card h5{
    color: red;
    font-weight: bold;
}

/* forms styles */
#forms h4{
    font-weight: bold;
}
#forms{
    color: red;
}

/* media queries */
@media screen and (max-width: 992px){
    #unsubscribe{
        margin-top: 20px;
    }
}