/* general styles */
body{
    font-family: 'Merriweather', serif;
    padding-top: 70px;
    padding-bottom: 20px;
}
h2{
    font-size: 1.4em;
    font-weight: bold;
    text-transform: capitalize;
}

/* custom styles for about and award section */
div#about, #award{
    font-size: 1.2em;
    padding: 20px !important;
}

/* custom styles for our services section */
.row{
    margin-top: 25px;
}
.card{
    line-height: 25px;
}
.card img{
    width: 100%;
}
div#services .card{
    padding: 20px;
    font-size: 14px;
}

div#services ul{
    margin-left: -20px;
}
.card h5{
    font-weight: bold;
}

/* forms styles */
#forms h4{
    font-weight: bold;
}

/* media queries */
@media screen and (max-width: 992px){
    #unsubscribe{
        margin-top: 20px;
    }
}